body {
  background-image: url("https://image.shutterstock.com/image-vector/world-map-outline-linear-doodle-600nw-2491310117.jpg?app=peacock");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
  color: black;
  font-size: 46px;
  text-align: center;
}

h2 {
  color: black;
  font-size: 28px;
  margin: 0 0 10px;
}

select {
  border-color: rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  display: block;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

.container {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
  margin: 40px auto;
  max-width: 450px;
  padding: 10px;
}

.city {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  margin: 20px 4px;
  padding: 16px 10px;
}

.time {
  font-family: serif;
  font-size: 48px;
  font-weight: bold;
}

.time small {
  font-size: 18px;
  line-height: 36px;
  vertical-align: middle;
}

.date {
  opacity: 0.8;
}

footer {
  color: rgba(0, 0, 0, 0.7);
  font-size: 16px;
  text-align: center;
  margin-bottom: 36px;
}
